.PODIDX {
}

.POD_NAVLINK {
}

.POD_TITLE {
        font-size: 14px;
}

.POD_HEAD1 {
        font-size: 14px;
}

.POD_HEAD2 {
        font-size: 12px;
}

.POD_VERBATIM {
        font-family: fixed;
}

.POD_TEXT {
}

.POD_LIST {
}

.POD_ITEM {
}
