.DOCIDX {
}

.DOC_NAVLINK {
}

.DOC_TITLE {
        font-size: 14px;
}

.DOC_HEAD1 {
        font-size: 14px;
}

.DOC_HEAD2 {
        font-size: 12px;
}

.DOC_VERBATIM {
        font-family: fixed;
}

.DOC_TEXT {
}

.DOC_LIST {
}

.DOC_ITEM {
}
.DOCTOC_DESC_IMP {
	font-weight: bold;
	font-size: 13px;
}
